* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  height: 100vh;
  background-color: #161513;
  color: white;
  font-family: "Outfit", sans-serif;
}
